#map {
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 0;
    margin: 0;
    /* margin-bottom: 40px; */
}
/* #map::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png');
    opacity: 0.4;
    z-index: -1;
} */
#map-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15%;
}
#map h2 {
    margin-top: 24px;
    font-size: var(--font-title-size);
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #d65884, 1px 1px 1px #d65884, 1px 1px 1px #d65884, 1px 1px 1px #d65884;
}
#map_detail {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    color: white;
    font-size: var(--font-regular-size);
    margin: 8px 8px;
}
#map-area strong {
    text-shadow: 1px 1px 1px #d65884, 1px 1px 1px #d65884, 1px 1px 1px #d65884, 1px 1px 1px #d65884;
}
#map-area span, #map-area strong {
    color: white;
}
#map_detail > span {
    margin: 4px 0;
}