#pair-table-area {
    margin-top: 32px;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
    background-color: #B5DEB5;
    color: #fff;
    z-index: 2;
}
#pair-table-area h3 {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 8px;
}
#pair-table-area table {
    font-size: 0.8rem;
    width: 90%;
    min-height: 400px;
    margin: 12px 8%;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background: rgba(184, 184, 184, 0);
    box-shadow: 0 8px 32px 0 rgba(184, 184, 184, 0.37);
    /* backdrop-filter: opacity( 20px ); */
    /* -webkit-backdrop-filter: blur( 20px ); */
    border-radius: 10px;
    /* background-color: white; */
}
#pair-table-area table thead {
    margin-bottom: 4px;
    border-bottom: 4px solid transparent;
}
#pair-table-area table tbody tr td:first-child {
    text-align: left;
    padding-left: 8px;
}