#playlist-area {
    width: 100%;

}
.playlist-header {
    text-align: center;
    margin-bottom: 12px;
    font-weight: 600;
}
#playlist {
    margin: 12px 8%;
    padding: 12px;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
    /* background-image: linear-gradient(to top left, #bbb, #fff 90%, #bbb 95% ); */
    background-color: whitesmoke;
}
#playlist > div:last-child {
    border-left: 1px solid #444;
    padding-left: 12px;
}
#playlist > div {
    width: 50%;
}
#playlist > div > li {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
}
#playlist > div > ol {
    padding: 8px 12px;
    list-style: inside decimal;
}
#playlist > div > ol > li {
    width: 100%;
    padding: 2px 8px;
    margin: 2px;
    font-size: 0.8rem;
}
#playlist > div > ol > li::marker {
    padding-left: 4px;
}