#profile-msg-area {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 12px 14%;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-img {
    max-width: 100px;
}
.profile-card span {
    font-size: 0.8rem;
}

.profile-message {
    font-size: 0.8rem;
    font-weight: 700;
}