#go-to-reservation {
    width: 100vw;
    position: fixed;
    bottom: 0;
    height: 8%;
    background-color: #D2629A;
    color: white;
    z-index: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgb(235, 212, 222);
    /* box-shadow: 2px -2px 4px #ecb2cd; */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    cursor: pointer;
    letter-spacing: 0.2rem;
    font-size: 1rem;
    font-weight: bold;
}