@font-face {
    font-family: 'yangjin';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: yangjin;
}

body {
    background-color: rgba(250, 222, 177, 0.4);

}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    /* background-color: #191c19; */
    background-color: rgba(250, 222, 177, 0.6);
    /* color: white; */
}
#main-poster {
    width: 100%;
}
#intro {
    margin: 40px 12px;
    width: 100%;
}
#intro h2 {
    margin-bottom: 12px;
    text-align: center;
}
#intro table {
    width: 100%;
    height: 200px;
    padding: 8px 16px;
}
#intro table tr {
    margin: 4px 0
}
#date td:not(:first-child) {
    /* width: 25%; */
    text-align: left;
}
.time {
    text-decoration: underline;
}
#reservation-link-row {
    text-align: center;
}
#reservation-link {
    text-decoration: none;
    color: #222;
}
#reservation-link:hover {
    text-decoration: underline;
}