
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@font-face {
    font-family: "중나좋체";
    font-weight: normal;
    src: url("../fonts/중나좋체/중나좋체_Light.ttf");
}
@font-face {
    font-family: "중나좋체";
    font-weight: bold;
    src: url("../fonts/중나좋체/중나좋체_Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "중나좋체", "Noto Sans KR", sans-serif;
}

body {
    background-color: rgba(250, 222, 177, 0.2);
}

.container {
    margin: 0 auto;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    max-width: 400px;
    /* background-color: #FECABE; */
    background-color: #F4B2C6;
    z-index: 1;
}
.container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('https://www.transparenttextures.com/patterns/45-degree-fabric-dark.png');
    opacity: 0.4;
    z-index: -1;
}
.container .box {
    padding-top: 24px;
    padding-bottom: 24px;
}

h2 {
    text-align: center;
    margin-bottom: 12px;
    letter-spacing: 4px;
}

.container .box:not(:last-child) {
    /* border-top: 2px solid rgba(200, 200, 200, 0.6); */
}

/* Font Size */
@media (max-width: 767px){
	/* Mobile */
    :root {
        --font-regular-size: 16px;
        --font-caption-size: 14px;
        --font-title-size: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Tablet vertical */
    :root {
        --font-regular-size: 16px;
        --font-caption-size: 12px;
        --font-title-size: 22px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Tablet horizontal */
    :root {
        --font-regular-size: 16px;
        --font-caption-size: 12px;
        --font-title-size: 22px;
    }
}

@media (min-width: 1200px) {
    /* Desktop */
    :root {
        --font-regular-size: 14.7px;
        --font-caption-size: 12px;
        --font-title-size: 18px;
    }
}