body::after {
    width: 100%;
    height: 100%;
    background-image: url("../assets/images/poster_2.png");
    background-size: cover;
    /* background-position: 50% 20%; */
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    z-index: -1;
    opacity: 0.4;
    /* backdrop-filter: opacity( 20px ); */
    background-attachment: scroll;
}