#casting-board-area {
    width: 100%;
}
#casting-board-area img {
    max-width: 100%;
}
.casting-boards {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.casting-board {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 16px;
    padding: 8px 12px;

    border-radius: 10px;
    background: rgba(184, 184, 184, 0);
    box-shadow: 0 4px 12px 0 var(--primary-color);

    /* display: flex;
    flex-direction: row; */
}
.casting-board h2 {
    font-size: 18px;
}
.casting-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 8px;
}
.casting-board-date {
    font-weight: 600;
    margin-bottom: 4px;
    font-size: 18px;
}
.castring-board-date-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}