#casting-board-area {
    width: 100%;
}
#casting-board-area img {
    max-width: 100%;
}
.casting-boards {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.casting-board {
    margin-bottom: 0;
    margin-bottom: 16px;
    /* padding-bottom: 12px; */
    /* background-color: rgba(150, 202, 153, 1); */
}
.castring-board-header {
    background-color: rgba(150, 202, 153, 1);
}
.casting-board h2 {
    padding-top: 8px;
    padding-bottom: 12px;
    /* margin-top: 8px; */
    margin-bottom: 0;
    font-size: var(--font-title-size);
    font-weight: 600;
    letter-spacing: 8px;
    color: white;
}
.casting-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 8px;
}
.casting-board-date {
    margin-bottom: 2px;
}
.casting-board-date, .casting-board-time {
    color: white;
    font-size: var(--font-regular-size);
}
.castring-board-date-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary-color);
}