@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

#intro {
    position: relative;
    width: 100%;
    /* height: calc(var(--vh, 1vh) * 95); */
    /* max-height: calc(var(--vh, 1vh) * 95); */
    padding: 0;
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    color: var(--primary-color);
}

#intro-header {
    padding-top: 24px;
    font-weight: bold;
    font-size: 2.2rem;
    margin-top: 12px;
    margin-bottom: 42px;
    letter-spacing: 12px;
    font-style: italic;
}
.intro-box {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 38px;
    text-align: center;
}
.intro-box:last-child {
    margin-bottom: 42px;
}
.intro-box h3 {
    text-align: center;
    font-size: var(--font-title-size);
    margin-bottom: 12px;
    letter-spacing: 1px;
}
.intro-box span {
    word-break: keep-all;
    text-align: center;
    line-height: 24px;
    font-size: var(--font-regular-size);
}