@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');

#intro {
    position: relative;
    width: 100%;
    height: calc(var(--vh, 1vh) * 100);
    max-height: 800px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--primary-color);
}

#intro-header {
    padding-top: 24px;
    font-weight: bold;
    font-size: 2.2rem;
    margin-bottom: 24px;
    letter-spacing: 12px;
    font-style: italic;
    /* opacity: 0.8; */
}
.intro-box {
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 32px;
    text-align: center;
}
.intro-box:last-child {
    margin-bottom: 24px;
}
.intro-box h3 {
    text-align: center;
    font-size: var(--font-title-size);
    margin-bottom: 12px;
    letter-spacing: 1px;
}
.intro-box span {
    word-break: keep-all;
    text-align: center;
    /* margin-left: 8px; */
    font-size: var(--font-regular-size);
}