#playlist-area {
    width: 100%;
    /* background-color: #E27FA2; */
    color: var(--primary-color);
}
.playlist-header {
    /* text-shadow: 1px 1px 1px #d65884, 1px 1px 1px #d65884, 1px 1px 1px #d65884, 1px 1px 1px #d65884; */
}
#playlist {
    margin: 24px 2%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    position: relative;
    /* background: rgba(184, 184, 184, 0);
    box-shadow: 0 8px 32px 0 #d65884; */
    /* backdrop-filter: opacity( 20px ); */
    border-radius: 10px;
}
#playlist::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* background-color: #4cda4c; */
    background: rgba(184, 184, 184, 0);
    opacity: 0.6;
    /* box-shadow: 0 8px 12px 0 rgb(105, 173, 105); */
    box-shadow: 0 8px 32px 0 var(--primary-color);
    border-radius: 10px;
    z-index: -1;
}
#playlist > div:first-child {
    padding-bottom: 12px;
}
#playlist > div:last-child {
    border-top: 1px solid rgba(90, 28, 10, 0.4);
    padding-top: 16px;
}
#playlist > div > h4 {
    margin-left: 16px;
}
#playlist > div > li {
    font-size: var(--font-title-size);
    font-weight: 400;
    text-align: center;
}
#playlist > div > ol {
    padding: 8px 12px;
    list-style: inside decimal;
}
#playlist > div > ol > li {
    width: 100%;
    padding: 2px 8px;
    margin: 2px;
    font-size: var(--font-regular-size);
}
#playlist > div > ol > li::marker {
    padding-left: 4px;
}